<h1>Surgery <%= @surgery.id %></h1>
<p>Title:<%= @surgery.title  %></p>
<p>Day:<%= @surgery.day %></p>
<p>Room Number:<%= @surgery.room %></p>

<h2>Presiding Doctors</h2>
<section id = "doctors">

	<% @surgery.doctors.each do |doctor| %>
		<%= doctor.name %>
		<%= doctor.years_practiced %>
	<% end %>

</section>

<h3>Add a Doctor to This Surgery</h3>
<section id ="add-doctor">

	<%= form_with model: @doctor, url: surgery_path(@surgery), method: :patch, local: :true do |f| %>
        <%= f.label :name, 'Name:' %><br>
    	 	<%= f.text_field :name %><br>
    		<%= f.submit 'Add Doctor' %>
  <% end %>

</section>



<h4>Most Experienced</h4>
	<section id = "most-experienced">
		<%= @surgery.best_doctor[:name] %>
		<%= @surgery.best_doctor[:years] %>
	</section>
<h4>Least Experienced</h4>
	<section id = "least-experienced">
		<%= @surgery.worst_doctor[:name] %>
		<%= @surgery.worst_doctor[:years] %>
	</section>

